  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html {
    font-size: 10px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    font-size: 1.8rem;
    /* background-image: url(../images/body-back-2.png); */
    /* background-position: bottom; */
    background-repeat: repeat;
    background-size: contain;
    /* background-color: var(--color-grey); */
    color: #37272A;

  }
  
  .SBC-section {
    background-image: url(../images/body-back-2.png);
    height: 100%;
    padding-bottom: 10rem;
  }
  .FU-section {
    background-image: url(../images/body-back-2.png);
    height: 100%;
    padding: 10rem 0 0 0;
  }
  
  :root {
    --heading-color: #182569;
    --color-blue: #172568;
    --color-sky: #00acf5;
    --color-white: #ffffff;
    --color-dark: #2d2c2c;
    --color-light: #ffffffcc;
    --color-red: #c6262f;
    --color-Yellow: #fbc11e;
    --color-brown: #564244;
    --color-pink: #a5296f;
    --color-ligthYellow: #f2b950;
    --color-darkYellow: #d4a360;
    --color-grey: #585858;
    --color-black: #000;
    --color-white: #fff;
  }
  
  .spacer {
    margin: 0 26rem;
  }
  
  .row {
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--color-dark);
  }
  h2 {
    font-size: 4.2rem !important;
    line-height: 1.5em;
    font-weight: 600;
  }
  h3 {
    font-size: 3.2rem !important;
    line-height: 1.5em;
    font-weight: 600;
  }
  h4 {
    font-size: 2.4rem !important;
    line-height: 1.5em;
    font-weight: 500;
  }
  h5 {
    font-size: 1.4rem !important;
    line-height: 1.2em;
    font-weight: 600;

  }
  h6 {
    font-size: 1.3rem !important;
    line-height: 1.5em;
    font-weight: 500;
  }

  button{
    background-color: transparent;
     border: 0;
     cursor: pointer;
  }

  .form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: #ffd1a3;
  }

  .image_cover{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.wrapper{
    display: grid;
    place-items: center;
    width:100vw;
    height:100vh; 
}
.back_image{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
}
.back_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}
  .mob_container{
    max-width: 320px;
    width: 100%;
    height: 600px;
    background-color: #f1f1f14b; 
    /* background-color: #474747;  */
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #422d2e;
    /* box-shadow: rgba(50, 50, 93, 0.226) 0px 6px 12px -0px, rgba(0, 0, 0, 0.123) 0px 3px 7px -2px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;  
}

  .mobile_header{
    height: 24px;
    width: 100%;
    background-color: #422d2e;
    position: relative;
    /* opacity: 0.1; */
}

.mobile_header::after{
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  filter: blur(1px);
  background: rgb(208,179,181);
background: radial-gradient(circle, rgba(208,179,181,1) 11%, rgba(185,154,156,1) 23%, rgba(186,151,154,1) 42%, rgba(145,119,121,1) 60%, rgba(66,45,46,1) 100%);
}

.mobile_footer{
    height: 36px;
    width: 100%;
    background-color: #422d2e;
    /* opacity: 0.1; */
}

.mobile_body{
  display: flex; 
  width: 100%;
  height: calc(100% - 60px);
  --padding:10px 12px;
  position: relative;
/* backdrop-filter: blur(5.4px); */
}
.user_chat_container{
  left: calc(100% + 10px);
}
.user_chat_container.show{
  left: 0;
}
.user_list.show{
  left: 0;
}
.user_list{
  left: -102%;
}

.user_chat_container,
.user_list{
  position: absolute;
    height: 100%;
    width: 100%;
    min-width: 100%;
    white-space: nowrap;
    transition: 0.3s;
}
.app_heading{
    height: 40px;
    padding: 0 12px;
    background: rgb(255,194,133);
    background: linear-gradient(90deg, rgba(255,194,133,1) 0%, rgba(255,215,175,1) 100%);
    display: grid;
    grid-template-columns: 16px auto;
    gap: 10px;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.app_heading h6{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user_list_ul{
     height: calc(100% - 40px);
    overflow-y: auto; 

}
.chat_content::-webkit-scrollbar,
.user_list_ul::-webkit-scrollbar{
    display: none;
}

.left_icon svg{
    width:16px;
    height:16px;
}
.left_icon{  
    width: 16px;
    height: 16px;
    display:flex;
    justify-content: center;
     align-items: center;
     
}
/* User List */
.user_items:not(:last-child){
    border-bottom: 1px solid #ffd1a3;
}
.user_items{ 
    padding: var(--padding);
    display: grid;
    grid-template-columns: 34px auto 50px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.user_image{
    width:34px;
    height:34px;
    overflow: hidden;
    border-radius: 50%;
}
 
.name_message .name{
    color: #111111;
}
.name_message .message{
    font-size: 1.2rem;
    color: #474747;
}

.chat_wpr{
     height: calc(100% - 40px) ;
}
.chat_content{
    height: calc(100% - 50px);
    position: relative;
    overflow-y: auto;
}
.chat_creator{
    height: 50px;
    background-color: #fff8f1;
background: linear-gradient(90deg, #ffe4c9 0%, #ffefe2 100%);
display: grid; 
    align-items: center;
    padding: 0 12px;
}
.chat_creator form{
    display: grid;
    grid-template-columns: auto 30px;
    gap: 10px;
    align-items: center;
}

.input_box input{
    height: 30px;
    font-size: 13px;
    color: #37272A;

}

.send_btn button{
    width:30px;
    height:30px;
    border-radius: 50%;
    background: rgb(255,183,111);
background: linear-gradient(90deg, rgba(255,183,111,1) 0%, rgba(255,209,163,1) 100%);
}
.send_btn button svg{
    width: 15px;
    height: 15px;
    color: #37272a98;
}

.chat_wpr .chat_content{
    padding: var(--padding);
}

.chat_item{
    margin-bottom: 14px;
    text-align: end;
}

.chat_item p{ 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    display: inline-block;
    padding: 2px 8px;
    font-size: 1.4rem;
    background: #ffe0c1;
    position: relative;
} 

.send_chat {
    text-align: start;
}
.send_chat p{
background: linear-gradient(90deg, #ffe0c1 0%, #ffebd9 100%);
border-radius: 5px 5px 5px 0;

}
.receive_chat p{
    display: inline-block;
border-radius: 5px 5px 0px 5px;

background: linear-gradient(270deg, #ffe0c1 0%, #ffebd9 100%);
}

.chat_item p::after{
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
   
    border-top: 6px solid #ffe0c1;
}

.send_chat p:after{ 
    border-right: 8px solid transparent;
    left: 0;
}
.receive_chat p:after{
    border-left: 8px solid transparent;

}

 

  #say_Hii{
    padding: 10px 30px;
    font-weight: 600;
background: linear-gradient(90deg, rgba(255,194,133,1) 0%, rgba(255,215,175,1) 100%);
border-radius: 5px;
    color: #37272A;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

#typing{
    font-size: 10px;
    position: absolute;
    bottom: 52px;
    left: 12px;
}

.chat_item_wpr{
  white-space: normal;
}

.mobile_header{
  padding: 0 12px;
  display:flex; 
   align-items: center;
}

#clock{
  font-size: 10px;
  color: #ffd1a3;
}